
Monopoly - Servidor/\.vs/PolyFlamaServer/v15/\.suo

Monopoly - Servidor/\.vs/PolyFlamaServer/v15/Server/sqlite3/storage\.ide-shm

Monopoly - Servidor/\.vs/PolyFlamaServer/v15/Server/sqlite3/storage\.ide-wal

Monopoly - Servidor/PolyFlamaServer/obj/Debug/PolyFlamaServer\.csproj\.CoreCompileInputs\.cache

Monopoly - Cliente/\.vs/PantallasMonopoly/v15/\.suo
